h3 {
    text-align: center;
    padding-top: 10px;

}
h5{
    text-align: center;
    margin-top: 20px;
}
p {
    margin-left: 190px;
    padding-bottom: 10px;
    font-size: 23px;
    color: #ffd14e;
    font-weight: bold;
}
.container-productos{
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
.container-tot-productos{
    width: 650px;
    height: 100px;
    margin: auto;
    border: 1px solid white;
    background-color: #000000e8;
}
.container-tot-productos h3{
    color: #ffd14e;
}
.container-ult-producto{
    width: 650px;
    height: 100px;
    margin: auto;
    border: 1px solid white;
    background-color: #000000e8;
    margin-left: 10px;
}
.container-ult-producto h3{
    color: #ffd14e;
}
.ult-producto {
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.ult-producto h5{
   margin-left: 3px;
}