<html>
    <head>
        <style>
            *{
                padding: 0;
                margin: 0;
            }

            ul{
                list-style: none;
            }
            .barraUserProfile{
                width: 300px;display: flex;
            }

            .userProfileNav li a{
                background-color: rgb(199, 187, 187);
                color:black;
                text-decoration: none;
                padding: 10px 20px;
                
                display: block;
            }
            .userProfileNav li {
                width: 150px;
            }

            .userProfileNav > li {
                float: left;
            }

            .userProfileNav li a:hover{
                background-color: blanchedalmond;
            }

            .userProfileNav li ul{
                display: none;
                position: absolute;
                min-width: 140px
            }
            .userProfileNav li:hover ul{
                display: block;
            }
             

        </style>
    </head>

<body>

    <div class="barraUserProfile">
        <img src="./img/avatar-1637347914954-11347521WIN_20210628_10_29_13_Pro.jpg" width="40px" height="35px" style="border-radius: 200%;">
        <ul class="userProfileNav">
            
            <li><a href=""> Usuario</a>
                <ul>
                    <li><a href="">Cargar Productos</a></li>
                    <li><a href="">Información</a></li>
                    
                    <li><a href="">Cerrar Sessión</a></li>
                </ul>
            </li>

           
        </ul>
    </div>
</body>

</html>