<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body class="products">
        <header>
            <%- include("partials/header") -%>
                <hr>
        </header>
                <main class="container-product">
                    <div class="big-container">

                        <div class="right-container">
                            <div class="header">
                                <h3>PRODUCTOS</h3>
                            </div>

                            <div class="productos">
                                <% products.forEach(function(product){ %> <!--Recordar que product es cada elemento de la lista-->
                                    <!--productCard-->
                                    <%- include('partials/productCards', {product}) %>
                                    <!--/productCard-->
                                <% }); %>
                               

                            </div>
                        </div>
                </main>
        

        <%- include("partials/footer") -%>

    </body>

</html>