<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body class="bodyloginnuevo">
        <div class=container>
            <%- include("partials/header") -%>
            <hr>

            
            <form action="/register" method="POST" class="registro-form" enctype="multipart/form-data">
                <div class="form-register">
                    <h5>Crea tu Cuenta</h5>
                    <input class="controls-register" type="text" name="nombre" value="" placeholder="Nombre">
                    <input class="controls-register" type="text" name="apellido" value="" placeholder="Apellido">
            
                    <div>
                        <input class="controls-register" type="email" name="email" value="" placeholder="Email">
                        <input class="controls-register" type="password" name="password" value="" placeholder="Password">
                    </div>
                    <div class="exam">
                        <label>Avatar :</label>
                        <input type="file" name="avatar">
                    </div>
                    <input class="buttons-register" type="submit" value="Registrar !">
                    
            
            
            
                </div>
            </form>
        </div>
        <%- include("partials/footer") -%>

    </body>

</html>