<a href="/productID/<%= product.ID %>">
    <article class="box-products">
        <img  class="imagen" src="../img/<%= product.avatar %>">
        <ul>
            <div class="juntos">
                <li class="precio">$<%= product.precio %></li>
                <li class="descuentos">15% off</li>
            </div>
            <li class="descripcion"><%= product.modelo %> </li>

        </ul>
    </article>
</a>